name: eShopOnWeb Test composite workflow Secondary

on:
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string
    secrets:
      TOKEN:
        required: true

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        run: echo "build-second"
      - name: Inputs
        run: echo "${{ inputs.config-path }}"
      - name: Secrets
        run: echo "${{ secrets.token }}"
      - name: Test action
        id: test-action
        uses: ./.github/actions/hello-world
        with:
          who-to-greet: "World"
      - name: Echo test action output
        run: echo "${{ steps.test-action.outputs.random-number }}"
