name: eShopOnWeb Test composite workflow Third

on:
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string
    # secrets:
    #   TOKEN:
    #     required: true

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create temp file
        run: echo "Hello World from third" > temp.txt
      - name: Checkout
        run: echo "build-third"
      - name: Test action
        id: test-action
        uses: ./.github/actions/hello-world
        with:
          who-to-greet: "Third"
