name: eShopOnWeb Test composite workflow Secondary

on:
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string
      foo:
        required: true
        type: string
      foo2:
        required: true
        type: string
      force-rebuild-everything:
        description: 'Force rebuild everything'
        required: true
        default: "0"
        type: string
    secrets:
      TOKEN:
        required: true
    outputs:
      hello:
        description: 'Hello output'
        value: ${{ jobs.setup.outputs.hello }}


jobs:
  setup:
    outputs:
      hello: ${{ steps.echo-output.outputs.hello }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create temp file
        run: echo "Hello World from second" > temp.txt
      - name: Checkout
        run: echo "build-second force-rebuild-everything ${{ inputs.force-rebuild-everything }}"

      - name: Force rebuild everything
        if: ${{ inputs.force-rebuild-everything == '1' }}
        run: echo "force rebuild everything"

      - name: Inputs
        run: |
          echo config path "${{ inputs.config-path }}"
          echo foo "${{ inputs.foo }}"
          echo foo2 "${{ inputs.foo2 }}"
      - name: Secrets
        run: echo "${{ secrets.TOKEN }}"
      - name: Test action
        id: test-action
        uses: ./.github/actions/hello-world
        with:
          who-to-greet: "Second"
      - name: Test hello.txt file content
        run: cat hello.txt
      - name: Echo test action output
        run: echo "${{ steps.test-action.outputs.random-number }}"
      - name: Echo test action output
        id: echo-output
        run: echo "hello='Hello from build-second!'" >> $GITHUB_OUTPUT
