name: eShopOnWeb Test composite workflow

on:
  push:
    branches:
      - main
      - release/*
    tags:
      - v*
  workflow_dispatch:
    inputs:
      force-rebuild-everything:
        description: 'Force rebuild everything'
        required: true
        default: "0"
        type: string
      early-exit:
        description: 'Early exit'
        required: true
        default: "0"
        type: string

env:
  FOO: "${{ vars.TARGET_PLATFORM_ID }}-foo"


jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      foo: ${{ env.FOO }}
      foo2: ${{ steps.echo-test.outputs.foo2 }}

    steps:
    - uses: actions/checkout@v4
    - name: Echo
      id: echo-test

      run: |
        echo "build-main ${{ inputs.force-rebuild-everything }}"
        echo "head ref ${{ github.head_ref }}"
        echo "base ref ${{ github.base_ref }}"
        echo "ref ${{ github.ref }}"
        echo "refname ${{ github.ref_name }}"
        echo "target plarform id: ${{vars.TARGET_PLATFORM_ID}}"
        echo "fooval: ${{ env.FOO }}"
        echo "foo2=${{ env.FOO }}" >> $GITHUB_OUTPUT

  call-first-sub-workflow-passing-data:
    if: ${{ inputs.early-exit != '1' }}
    name: Call first sub-workflow passing data
    uses: ./.github/workflows/build-second.yml
    with:
      config-path: "config-path-values1"
      force-rebuild-everything: ${{inputs.force-rebuild-everything}}
      foo: ${{ needs.setup.outputs.foo }}
      foo2: ${{ needs.setup.outputs.foo2 }}
    secrets:
      token: ${{ secrets.TOKEN }}
    needs: setup

  call-second-sub-workflow-passing-data:
    if: ${{ inputs.early-exit != '1' }}
    name: Call second sub-workflow passing data
    uses: ./.github/workflows/build-third.yml
    with:
      config-path: "config-path-values2"
    secrets: inherit # to forward secrets to the called workflow
    needs: setup
