name: eShopOnWeb Test composite workflow Secondary

on:
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string
      foo:
        required: true
        type: string
      foo2:
        required: true
        type: string
      forceRebuildEverything:
        required: false
        type: boolean
        default: false
    secrets:
      TOKEN:
        required: true
    outputs:
      hello:
        description: 'Hello output'
        value: ${{ jobs.setup.outputs.hello }}


jobs:
  setup:
    outputs:
      hello: ${{ steps.echo-output.outputs.hello }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create temp file
        run: echo "Hello World from second" > temp.txt
      - name: EchoTest
        run: echo "build-second forceRebuildEverything => ${{ inputs.forceRebuildEverything }}"

      - name: Force rebuild everything1
        if: ${{ inputs.forceRebuildEverything == 'true' }}
        run: echo "force rebuild everything => 'true'"

      - name: Force rebuild everything2 (triggered when parent triggered by workflow_dispatch and input is cheked)
        if: ${{ inputs.forceRebuildEverything == true }}
        run: echo "force rebuild everything => true"

      - name: Force rebuild everything3 (triggered when parent triggered by workflow_dispatch and input is cheked)
        if: ${{ inputs.forceRebuildEverything == '1' }}
        run: echo "force rebuild everything => '1'"

      - name: Force rebuild everything4 (triggered when parent NOT triggered by workflow_dispatch AND when parent triggered by workflow_dispatch and input is uncheked)
        if: ${{ inputs.forceRebuildEverything == false }}
        run: echo "force rebuild everything => false"

      - name: Force rebuild everything5
        if: ${{ inputs.forceRebuildEverything == 'false' }}
        run: echo "force rebuild everything => 'false'"

      - name: Force rebuild everything6 (triggered when parent triggered by workflow_dispatch and input is uncheked)
        if: ${{ inputs.forceRebuildEverything == '0' }}
        run: echo "force rebuild everything => '0'"

      - name: Inputs
        run: |
          echo config path "${{ inputs.config-path }}"
          echo foo "${{ inputs.foo }}"
          echo foo2 "${{ inputs.foo2 }}"
      - name: Secrets
        run: echo "${{ secrets.TOKEN }}"
      - name: Test action
        id: test-action
        uses: ./.github/actions/hello-world
        with:
          who-to-greet: "Second"
      - name: Test hello.txt file content
        run: cat hello.txt
      - name: Echo test action output
        run: echo "${{ steps.test-action.outputs.random-number }}"
      - name: Echo test action output
        id: echo-output
        run: echo "hello='Hello from build-second!'" >> $GITHUB_OUTPUT
