name: eShopOnWeb Test composite workflow

on:
  push:
    branches:
      - main
      - release/*
    tags:
      - v*
  workflow_dispatch:
    inputs:
      forceRebuildEverything:
        description: 'Force rebuild everything'
        required: true
        default: false
        type: boolean
      early-exit:
        description: 'Early exit'
        default: false
        type: boolean

env:
  FOO: "${{ vars.TARGET_PLATFORM_ID }}-foo"


jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      foo: ${{ env.FOO }}
      foo2: ${{ steps.echo-test.outputs.foo2 }}

    steps:
    - uses: actions/checkout@v4
    - name: Echo
      id: echo-test

      run: |
        echo "early-exit ${{ inputs.early-exit }}"
        echo "head ref ${{ github.head_ref }}"
        echo "base ref ${{ github.base_ref }}"
        echo "ref ${{ github.ref }}"
        echo "refname ${{ github.ref_name }}"
        echo "target plarform id: ${{vars.TARGET_PLATFORM_ID}}"
        echo "fooval: ${{ env.FOO }}"
        echo "forceRebuildEverything: ${{ inputs.forceRebuildEverything }}"
        echo "foo2=${{ env.FOO }}" >> $GITHUB_OUTPUT

  test-early-exit-one:
    name: Test early exit one
    runs-on: ubuntu-latest
    needs: setup
    if: ${{ inputs.forceRebuildEverything == '1' }}
    steps:
      - name: Early exit
        run: echo "forceRebuildEverything ! Val was '1' !"

  test-early-exit-two:
    name: Test early exit two
    runs-on: ubuntu-latest
    needs: setup
    if: ${{ inputs.forceRebuildEverything == 'true' }}
    steps:
      - name: Early exit
        run: echo "forceRebuildEverything 2. Val was 'true' !"


  test-early-exit-four:
    name: Test early exit four
    runs-on: ubuntu-latest
    needs: setup
    if: ${{ inputs.forceRebuildEverything == true }}
    steps:
      - name: Early exit
        run: echo "forceRebuildEverything 4. Val was true !"

  test-early-exit-three:
    name: Test early exit three
    runs-on: ubuntu-latest
    needs: setup
    if: ${{ inputs.forceRebuildEverything == 'false' }}
    steps:
      - name: Early exit
        run: echo "Early exit 3. Val was 'false' !"

  call-first-sub-workflow-passing-data:
    needs: setup
    name: Call first sub-workflow passing data
    uses: ./.github/workflows/build-second.yml
    with:
      config-path: "config-path-values1"
      forceRebuildEverything: ${{ inputs.forceRebuildEverything || false }}
      foo: ${{ needs.setup.outputs.foo }}
      foo2: ${{ needs.setup.outputs.foo2 }}
    secrets:
      token: ${{ secrets.TOKEN }}

  # call-second-sub-workflow-passing-data:
  #   needs:
  #     - setup
  #     - call-first-sub-workflow-passing-data
  #   name: Call second sub-workflow passing data
  #   uses: ./.github/workflows/build-third.yml
  #   with:
  #     config-path: "config-path-values2"
  #     hello: ${{ needs.call-first-sub-workflow-passing-data.outputs.hello }}
  #   secrets: inherit # to forward secrets to the called workflow
