name: eShopOnWeb Ng Coverage Report

#permissions:
#  contents: read
#  issues: read
#  checks: write
#  pull-requests: write

on:
  push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Test Report
      uses: romeovs/lcov-reporter-action@v0.3.1
      with:
        lcov-file: ./coverage/@ptd/aether/lcov.info
