name: eShopOnWeb Ng Coverage Report

permissions:
  contents: write
  issues: read
  checks: write
  pull-requests: write


#permissions: write-all

on:
  push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Test Report
      uses: romeovs/lcov-reporter-action@v0.4.0
      with:
        lcov-file: ./coverage/@ptd/aether/lcov.info
        github-token: ${{ secrets.GITHUB_TOKEN }}
