name: eShopOnWeb Ng Tests Report

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

on:
  [push, pull_request]

jobs:
  build:


    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
#    - name: Publish Test Report
#      uses: mikepenz/action-junit-report@v5
#      if: success() || failure() # always run even if the previous step fails
#      with:
#        report_paths: ./junit/FAILEDTESTS-*.xml    # Path to test results
#        detailed_summary: true

    - uses: phoenix-actions/test-reporting@v8
      id: test-report                     # Set ID reference for step
      with:
        name: JEST Tests                  # Name of the check run which will be created
        path: './junit/FAILEDTESTS-*.xml'                     # Path to test results (inside artifact .zip)
        reporter: jest-junit              # Format of test results
