name: eShopOnWeb Ng Tests Report

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

on:
  push

jobs:
  build:


    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Test Report
      uses: dorny/test-reporter@v2
      if: success() || failure()    # run this step even if previous step failed
      with:
        name: JEST Tests            # Name of the check run which will be created
        path: ./junit/TEST-*.xml    # Path to test results
        reporter: jest-junit        # Format of test results
