name: eShopOnWeb Ng Tests Report

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

on:
  push

jobs:
  build:


    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: success() || failure() # always run even if the previous step fails
      with:
        report_paths: ./junit/TESTS-*.xml    # Path to test results
        detailed_summary: true
